* {
  margin:0;
  padding:0;
}

.main{
  width:100%;
  background-image: linear-Gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(background.jpeg);
  background-size: cover; 
  background-position: centre;
  height: 100vh;
}
.navbar{
  width:1200px;
  height:75px;
  margin: auto;

.logo{
  color:white;
  font-size:35px;
  font-family: Arial;
  padding-left:20px;
  float: left;
  padding-top: 20px;
  
}

.menu{
  width:400px;
  float:left;
  height:70px;
}

ul{
  float: left;
  display: flex;
  justify-content:center;
  align-items:center;
  justify-content:flex-start;
}

ul li{
  list-style:none;
  margin-left:62px;
  margin-top:27px;
  font-size:14px;
}

ul li a{
  text-decoration:none;
  color: white;
  font-family: Arial;
  font-weight:bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color: purple;
}

.button {
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size: 14px;
  margin: 6px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  
}

.button li a{
  background-color: white; 
  color: black; 
  border: 2px solid purple;
}

.button li a:hover {
  background-color:purple;
  color: white;
}
